@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
} 

body{
    background-image: url(car_meet.jpg);
} 

.box {
    width: 350px;
    height: 400px;
    border: 3px solid white;
    border-radius: 2%;
    margin: auto;
    width: 20%;
    padding: 10px;
    position: relative;
    top: 240px;
    background-color: rgba(46, 46, 46, 0.932);
  }

.lgn{
    text-align: center;
    color: white;
} 

.email{
    position: relative;
    top: 10px;
}

.pass{
    position: relative;
    top: 25px;
}

#login{
    border-radius: 8px;
    border-width: 2px;
    position: relative;
    top: 45px;
    border-color: white;
    color: white;
}

.box_2{
    position: relative;
    top: 80px;
    font-size: small;
}

